.comedian_image {
  transition: transform 0.3s ease-out;
}

.comedian_image:hover {
  transform: scale(1.1);
}

.show_card {
  transition: transform 0.2s ease-out;
}

.show_card:hover {
  transform: scale(1.01);
}

.content_image {
  transition: transform 0.3s ease-out;
}

.content_image:hover {
  transform: scale(1.1);
}
