.show_card {
  transition: transform 0.1s ease-out;
}

.show_card:hover {
  transform: scale(1.01);
}
.selectComedian {
  color: #276749;
  border-color: #2f855a;
  z-index: 9999;
  width: 100%;
}
.selectComedian:hover {
  color: #276749;
  border-color: #2f855a;
}
.selectComedian:focus {
  color: #276749;
}
